.list-article {
    height: 300px;
    width: 400px;
    border: solid darkgray;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    margin: 20px
}

.la-img {
    height: 200px;
    width: auto;
}