.list-article {
    height: 200px;
    width: 300px;
    border: 1px solid darkgray;
    border-radius: 2px;
    padding: 20px 20px 20px 20px;
    margin: 20px
}

.la-title {
    color: black;
}

.la-img {
    border-radius: 5%;
    height: 110px;
    width: auto;
}