.Nav {
    background-color: antiquewhite;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    padding-right: 5%;
    padding-left: 5%;
}

.app-name {
    align-self: center;
    width: 100vw; 
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    letter-spacing: 2px;
}

